.InputFields {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.InputFields > .InputWrapper {

}

.InputFields > .InputWrapper > p {
  color: black;
}

.InputFields > .InputWrapper > input {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid silver;
  width: 100%;
}

input:focus {
    outline:none !important;
}

.ButtonRow {
  display: flex;
  margin-top: 10px;
  justify-content: flex-end;
  width: 100%;
}
