body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-size:auto 100%;
}

.App {
  text-align: center;
}

.Home{
  text-align: center;
}

/*
Signup Component
*/
.Signup{
  text-align: center;
}

/*
Login Component
*/
.Login{
  text-align: center;
}

/*
Action Button on New Dream page
*/
.fab {
  margin: 0px;
  top: auto;
  right: 20px;
  bottom: 20px;
  left: auto;
  position: fixed;
}

/*
Dream Title on New Dream page
*/
.dreamTitle {
  color:#cbcbcb;
  line-height:1;
  margin: 5px;
  padding-top: 10px;
}

/*
Dream Date on New Dream page
*/
.dreamDate{
  color:#cbcbcb;
  line-height:1;
  margin: 5px;
}

/*
Dream description on New Dream page
*/
.dreamDes{
  color:#cbcbcb;
  line-height:1.5;
  margin: 5px;
  padding-bottom: 10px;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px hsla(216, 59%, 44%, 0.24) inset;
}
